.main {
    height: 100vh;
    position: relative;
}
.counter {
    width: 100%;
    position: absolute;
    left: 48.5%;
    top: 50%;
    display: flex;
}

.counterText {
    padding-right:1%;
}


.counterButtonHolder {
    position: absolute;
    left: 48%;
    top: 55%;
}